<h1>To-do List</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add To-do</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%">To-do Id</th>
            <th style="width: 10%">Title</th>
            <th style="width: 20%">Description</th>
            <th style="width: 10%">Created Date</th>
            <th style="width: 10%">Due Date</th>
            <th style="width: 5%">Priority</th>
            <th style="width: 5%">Category</th>
            <th style="width: 10%">User</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos| filter : term ">
            <td>{{todo.id}}</td>
            <td>{{todo.title}}</td>
            <td>{{todo.description}}</td>
            <td>{{todo.createdDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{todo.dueDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{todo.priority?.name}}</td>
            <td>{{todo.category?.name}}</td>
            <td>{{todo.user?.firstName}}</td>
             <td style="white-space: nowrap">
               <a routerLink="edit/{{todo.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button 
                    (click)="deleteTodo(todo.id ?? '')" 
                    class="btn btn-sm btn-danger btn-delete-priorities" 
                    [disabled]="this.isDeleting">
                    
                    <span *ngIf="this.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!this.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!todos">
            <td colspan="10" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>