<h1>To-do List</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add To-do</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 15%">Title</th>
            <th style="width: 25%">Description</th>
            <th style="width: 5%">Created</th>
            <th style="width: 5%">Due Date</th>
            <th style="width: 5%">Priority</th>
            <th style="width: 5%">Category</th>
            <th style="width: 10%">User</th>
            <th style="width: 15%"></th>
        </tr>
    </thead>
    <tbody>
        <tr [ngClass]="getStyle(todo)" *ngFor="let todo of todos">
            <td title="{{ todo.description }}">{{todo.title}}</td>
            <td>{{todo.description}}</td>
            <td>{{todo.createdDate | date: 'yyyy/MM/dd'}}</td>
            <td>{{todo.dueDate | date: 'yyyy/MM/dd'}}</td>
            <td>{{todo.priority?.name}}</td>
            <td>{{todo.category?.name}}</td>
            <td>{{todo.user?.firstName}}</td>
            <td style="white-space: nowrap">
                <button *ngIf="!todo.isCompleted"
                    (click)="setCompleted(todo)" 
                    class="btn btn-sm btn-success pr-1">
                    <span>Done</span>
                </button>&nbsp;
               <a routerLink="edit/{{todo.id}}" class="btn btn-sm btn-primary pr-2">Edit</a>&nbsp;
                <button 
                    (click)="deleteTodo(todo.id ?? '')" 
                    class="btn btn-sm btn-danger btn-delete-priorities" 
                    [disabled]="this.isDeleting">
                    
                    <span *ngIf="this.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!this.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!todos">
            <td colspan="10" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>