<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5">

            <h3 class="mb-5">Welcome to the ToDo Capstone Project!</h3>
            <p>The ToDo capstone project is a culminating assignment, on which students usually work on during their Full Stack Development. It requires different intellectual activities such team work, communication, and developing screens . This project helps students learn how to analyze user stories and convert them into screens efficiently. It has a wide variety of forms.
            </p>
            
          </div>
        </div>
      </div>
    </div> 
  </div>  